{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section id="page-header">
  <h2>Welcome To Our Clothing Line</h2>
  <p>We offer good products</p>
</section>
<section class="section-p1 margin-p1">
  <h1>{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %} Already have an account?  <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <div class="fine">
      {{ form.as_p }}
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="great">{% trans "Sign Up" %} &raquo;</button>
  </form>
</section>


{% endblock %}
