{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="page-header">
        <h2>Welcome Tou Our Clothing Line</h2>
        <p>We offer good products</p>
    </section>
    
    
    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Size</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
                {% for order_item in object.items.all %}
                    <tr>
                        <td><a href="{% url 'remove-from-cart' order_item.item.slug %}"><i class="far fa-times-circle"></i></a></td>
                        <td><img src="{{order_item.item.image.url}}" alt=""></td>
                        <td>{{order_item.item.title}}</td>
                        <td>${{order_item.item.price}}</td>
                        <td> <a href="{% url 'remove_single_item_from_cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                            {{order_item.quantity}}
                            <a href="{% url 'add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></td></a></td>
                        <td>xl</td>
                        <td>{% if order_item.item.discount_price %}
                            ${{order_item.get_total_discount_price}}
                            <span class="badge badge-primary">saving ₦{{order_item.get_amount_saved}}</span>
                        {% else %}
                            ${{order_item.get_total_item_price}}
                        {% endif %}
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    
    <section id="cart-add" class="section-p1">
<!--
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" placeholder="Enter Your Coupon">
                <button class="normal">Apply</button>
            </div>
        </div>
-->
        <div id="subtotal">
            <h3>Cart Totals</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>$ 335</strong></td>
                </tr>
            </table>
            <button class="normal">Proceed to checkout</button>
        </div>
    </section>
{% endblock content %}