{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="contact-details" class="section-p1">
    <div class="details">
        <span>
            Get In Touch
        </span>
        <h2> Contact Us Today</h2>
    </div>
</section>

<section id="form-details" class="section-p1">
    <form action="">
        <input type="text" placeholder="Your Name">
        <input type="text" placeholder="E-mail">
        <input type="text" placeholder="Subject">
        <textarea name="" id="" cols="30" rows="10" placeholder="your message"></textarea>
        <button class="normal">Submit</button>
    </form>
</section>

{% endblock content %}