{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="subtotal" class="section-p1 checkout-table">
    <h3>Cart Totals</h3>
    <table>
        <tr>
            <td>Cart </td>
            <td>Subtotal</td>
        </tr>
        {% for order_item in order.items.all %}
        <tr>
            <td><strong>{{order_item.quantity}} x {{ order_item.item.title }}</strong></td>
            <td><strong>${{ order_item.get_final_price }}</strong></td>
        </tr>
        {% endfor %}
    </table>
    <form>
        <script src="https://js.paystack.co/v1/inline.js"></script>
        <button type="submit" onclick="payWithPaystack()" class="normal">Proceed to Pay</button>
   </form>
</div>


<script>
    function payWithPaystack(){
      var handler = PaystackPop.setup({
        key: 'pk_test_3f7e5637d0d1c970683fa7b4423675a92c4119a4',
        email: '{{user.email}}',
        amount: {{order.get_total}} * 100,
        ref: ''+Math.floor((Math.random() * 1000000000) + 1), 
        callback: function(response){
            datar = response.reference
            $.ajax({
              url: '/verify/'+ datar,
              method: 'GET',
  
              success: function (response) {
                window.location.href = "/verify/" + datar
              }
            });
        },
        onClose: function(){
            alert('Transaction was not completed, window closed.');
        }
      });
      handler.openIframe();
    }
  </script>
{% endblock content %}

