{% extends 'base.html' %}
{% load static %}
{% block content %}    
    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="{{ object.image.url }}" width="100%" id="MainImg" alt="">
            
            <!-- <div class="small-img-group">
                <div class="small-img-col">
                    <img src="img/shirt1.png" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="img/shirt1.png" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="img/shirt1.png" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="img/shirt1.png" width="100%" class="small-img" alt="">
                </div>
            </div> -->
        </div>
        <div class="single-pro-details">
            <h6>Home / T-shirt</h6>
            <h4> Men's Fashion</h4>
            {% if object.discount_price %}
                <h2><del>${{object.price}}</del>    ${{ object.discount_price }}</h2>
            {% else %}
                <h2>${{ object.price }}</h2>
            {% endif %}
            <form  class="size" method="POST"  action="{{ object.get_add_to_cart_url }}">
                {% csrf_token %}
                <select name="size">
                        <option>Select size</option>
                    {% for sizes in object.sizes_of_items.size_cloth.all %}          
                        <option>{{ sizes.main_size }}</option>   
                    {% endfor %}
                </select>
                <select name="color">
                    <option>Select color</option>
                {% for colors in object.color_of_items.color_cloth.all %}          
                    <option>{{ colors.main_color }}</option>   
                {% endfor %}
            </select>
                <button type="submit" class="normal">Add to cart</button>
            </form>
            
            <h4>Product Details</h4>
            <span>{{object.description}}</span>
        </div>
    </section>
{% endblock content %}
